<h1>Listing Posts</h1>

<table class="magines">
  <thead>
    <tr>

      
      <th>Title</th>
      <th>Body</th>
       <% if admin_signed_in? %> 
        <th>Author</th>
         <% end %>
              <th colspan="3"></th>
     

         </tr>
  </thead>

  <tbody>
    
    <% @posts.each do |post| %>
    
      <tr>
      
        <td ><%= post.title %></td>
        <td  >
          <% if post.body %>
          <a href="#" data-reveal-id="asesoria-<%= post.id %>">Ver post</a>
          <div id="asesoria-<%= post.id %>"class="reveal-modal"data-reveal  >
            <%=post.body %>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% end %>
            </td>
           <% if admin_signed_in? %>
            <td><%=User.find(post.user_id).email%></td>
          <%end%>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   
  


    

<br>
<% if admin_signed_in? %>
<% end %>

<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, :class => 'links' %>
<% end %>